/*=======================
 * CUSTOM PROPERTIES
 *========================**/

:root {
  /*colors */
  --clr-gray-200: 210 46 95%;
  --clr-gray-400: 212 23 69%;
  --clr-gray-500: 214 17 51%;
  --clr-gray-900: 217 19 35%;

  --clr-white: 0 100% 100%;

  /* font-family */
  --ff-sans: "Manrope", sans-serif;

  /* font size */
  --fs-500: 1.25rem; /*20px*/
  --fs-200: 0.8125rem; /*13px*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-200);
  font-weight: 500;
  color: hsl(var(--clr-gray-500));

  /* improve text rendering on mac */
  -webkit-font-smoothing: antialiased;

  background-color: hsl(var(--clr-white));
  line-height: 1.4;
}

img {
  /* https://www.youtube.com/watch?v=345V2MU3E_w */
  font-style: italic;
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--fs-500);
  color: hsl(var(--clr-gray-900));
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.0025em;
  text-align: start;
}

button {
  display: inline;
  all: unset;
  cursor: pointer;
}

/*=======================
 * COMPONENTS
 *========================**/

/* NOTE: LAYOUTS */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(var(--clr-gray-200));
}

article {
  background-color: hsl(var(--clr-white));
  margin-inline: clamp(24px, 10vw, 120px);
  border-radius: 10px;
}

.main-content {
  display: grid;
  row-gap: 1.5rem;
}

.article-container {
  padding: 32px 30px 18px 30px;
  display: grid;
  row-gap: 3rem;
  position: relative;
}

.article-img img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: top;
}

footer {
  display: flex;
  justify-content: space-between;
}

/* NOTE: LINKS */

.share-options ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

.share-options span {
  letter-spacing: 2.5px;
}

/*NOTE: AUTHOR  */
.author {
  display: flex;
  gap: 1rem;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.author img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
}

.author div {
  display: flex;
  flex-direction: column;
}

/* NOTE Share Options */
.share-options {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.75rem;
  background-color: hsl(var(--clr-gray-900));
  color: hsl(var(--clr-gray-400));
  padding: 1.125rem 2.375rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  pointer-events: none;
  border-radius: 10px;
}

.share-options ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.share-button {
  display: grid;
  place-content: center;
  height: 2rem;
  width: 2rem;
  background-color: hsl(var(--clr-gray-200));
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  /* z-index: 100; */
}

/* TOGGLE STATE */
.share-button.active {
  background-color: hsl(var(--clr-gray-500));
}

.share-button.active img {
  filter: invert(1) brightness(1000%);
}

.share-button.active ~ .share-options {
  opacity: 1;
  visibility: visible;
  pointer-events: none;
}

/* IMPORTANT: MEDIA QUERIES */
@media (min-width: 48em) {
  article {
    display: flex;
    width: max(50%, 38rem);
  }

  .article-container {
    gap: 1.5rem;
  }

  .article-img {
    min-width: 14.3125rem;
  }

  .article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  .share {
    position: relative;
  }

  .share-options {
    transform: translate(-45%, -115%);
    transform-origin: top left;
    min-width: max-content;
    height: auto;
    box-shadow: 0 10px 10px 0 #c9d5e180;
    scale: 0;
    transition: all 0.25s ease;
  }

  .share-button.active ~ .share-options {
    scale: 1;
  }

  .share-options::before {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: hsl(var(--clr-gray-900)) transparent transparent transparent;
  }
}

@media (min-width: 90em) {
  article {
    max-width: 45.625rem;
  }
}
